//! **************************************************************************
// Written by: Map P.20131013 on Fri Oct 14 16:30:16 2016
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

